﻿.calendar {
    height: 500px;
}

.lh {
    line-height: 40px;
}

.cont1 {
    line-height: 28px;
    font-size: 16px;
}

.down {
    bottom: 0;
    position: fixed;
    z-index: 10000;
    width: 100%;
    margin-bottom: 0px;
}

.texto:hover {
    color: grey;
}

@media (max-width:767px) {
    .down {
        top: 0;
        position: fixed;
    }
}


/* Castles Configuration */

.hero-slider .scrollcustom .scroll-down {
    bottom: 75px !important;
}

nav.down ul li a:hover {
    font-weight: 600 !important;
}

section#cal {
    padding-top: 50px;
}

section#cal .right-side {
    padding-top: 0;
}

footer.details {
    padding-bottom: 3% !important;
    padding-bottom: 6% !important;
}

@media screen and (max-width: 768px) {
    nav.down {
        display: none !important;
    }
}

section#cal {
    padding-top: 50px;
}

section#con h1:after {
    position: absolute;
    content: ' ';
    background: #014029;
    width: 90px;
    height: 2px;
    top: 60px;
    left: 0;
    min-width: 200px;
    right: 0;
    margin: 0 auto;
}

section#con h2 {
    font-size: 28px;
    line-height: 30px;
    margin-bottom: 45px;
    color: #014029;
    font-weight: 400;
}


/* Tour Wedding Rent */

section#tour_wedding_rent .snippets {
    margin-bottom: 40px;
    transition: all ease-in-out .3s;
    /*min-height: 630px;*/
    padding: 5px 15px;
}

section#tour_wedding_rent .snippets h2 {
    margin: 5px 0 15px 0px;
    font-size: 28px;
    color: #014029;
    font-weight: 400;
}

section#tour_wedding_rent .snippets p {
    color: #000;
    text-decoration: none !important;
}

/* Section COntact */

section#con div.row {
    display: flex;
    flex-direction: column;
}

section#con div.col-sm-4 {
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
    padding-top: 10px;
    padding-bottom: 10px;
}

section#con div.col-sm-4 h5 {
    text-align: center;
    border-bottom: 2px solid;
    padding-bottom: 7px;
}


@media (min-width: 768px) {

    section#con div.row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}



/* OPEN HOURS SECTION */

section#openhours .content-row .content-partition h3 {
    margin-bottom: 20px;
    border-bottom: 1px solid;
    letter-spacing: 1.3px;
    padding: 8px 3px;
    margin-top: 5px;
}

section#openhours .content-row .content-partition p {
    margin: 0 0 14px;
    font-size: 14px !important;
}


@media all and (min-width: 768px) {

    section#openhours .content-row .content-partition {
        margin-left: 15px;
        margin-right: 15px;
    }

    section#openhours .content-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

/* TOUR SECTION */

section#tour h1:after,
section#rent h1:after {
    position: absolute;
    content: ' ';
    background: #014029;
    width: 90px;
    height: 2px;
    top: 60px;
    left: 0;
    min-width: 200px;
    right: 0;
    margin: 0 auto;
}

section#tour .snippets {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

section#tour .snippets h3 {
    margin: 10px 0;
    display: flex;
    color: #014029 !important;
    min-height: 50px;
    letter-spacing: 0.3px;
    /*background-color: white;*/
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px !important;
}

section#tour .snippets h3,
section#tour .snippets p {
    padding: 0px 10px;
}

section#tour .row div span.sub {
    color: gray;
    font-weight: bold;
}



/* SUB NAV BREADCRUMB*/

nav.down .subnav-breadcrumb {
    padding: 5px 0px !important;
    margin: 0 !important;
    border: none !important;
    background: #014029;
    border-radius: 0px !important;
}

nav.down .subnav-breadcrumb li {
    display: inline;
    color: #eee;
}

nav.down .subnav-breadcrumb li + li:before {
    padding: 8px;
    color: #5dc96b;
    content: "/\00a0";
}

nav.down .subnav-breadcrumb li a {
    color: #5dc96b;
    text-decoration: none;
}

nav.down .subnav-breadcrumb a:hover {
    color: #45bf55;
}


/* remade cd-top to the up*/

@media only screen and (min-width: 1024px) {
    .cd-top {
        bottom: 100px !important;
    }
}

/* Castles Configuration  AGAIN */

.hero-slider .scrollcustom .scroll-down {
    bottom: 100px !important;
}
