.kinsky {
    height: auto;
}

.castles {
    height: auto;
}

.weddings {
    height: 445px;
}



header {
    height: 900px;
}

#image {
    margin-bottom: 5%;
}

.tittle h1 {
    margin-top: 4%;
    color: white;
    font-size: 50px;
}

.subnav li a:hover {
    transform: scale(1.2);
    padding-left: 5%;

}

.social-icons a:hover {
    color: darkblue;
}

.alt-font {
    margin-bottom: 3%;
}

.language:hover {
    transform: scale(1.4);
}



.history {
   /* background: url(../img/pergamino.jpg);
    background-attachment: scroll;
    background-repeat: none;
    background-position: center;
    background-size: cover; */
    color: black;

}

.hover:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;

}

#fireplace img {
    width: 45%;
    border-radius: 20px;
    margin: 5%;
}

#history-title {
    padding-top: 5%;
    color: rgb(0, 64, 41);
}

.history-text {
    margin-bottom: 5%;

    color: white;
    font-size: 25px;
    font-weight: 400;
    border: 0px solid #000000;
}

table tr td {
    border: 2px solid #b9cbc4;
    padding: 3%;

}

table {
    width: 50%;

}



th {
    border: 2px solid green;
    padding: 3%;
}


#offerofservice {

    font-size: 14px;

}


#offerofservice h6 {

    font-size: 16px;

}


#pricelist h3 {

    font-size: 24px;
    font-weight: bold;
    padding-bottom: 25px;
    color: rgba(1, 64, 41, .7);

}

#pricelist {

    font-family: "verdana";
    font-size: 14px;
    padding-bottom: 25px;


}

#footer {

    justify-content: center;
    position: relative;
    height: 100%: width: 100%;
    top: 0px;
    left: 0px;

}


#middlemenu i {

    font-size: "32px";
    border-radius: 2px;
    border-style: round;


}

body.sawmill {
    font-family: 'Josefin Sans', sans-serif;
}


#pricetablessection a {

    font-family: verdana;
    font-size: 24px;
    color: green;
    font-weight: bold;
    justify-content: center;



}



#pricetablessection {

    font-family: verdana;
    font-size: 24px;
    color: green;
    font-weight: bold;
    justify-content: center;



}

.listmenu {


    font-family: fantasy;

}

 .ser:hover {

            transform: scale(1.1);
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            transition: all .5s ease
        }

        feature-box:hover {
            transform: scale(1.2);
        }



 .fadein {
            opacity: 1;
            transition: 1s ease;
        }

 .fadein:hover {
            opacity: 0.8;
            transition: 1s ease;

        }



        @media only screen and (min-width: 1224px) and (max-width: 1380px) {
            .feature-box {
                min-height: 230px !important;
            }
        }

 .feature-box .inner {
            width: 66.66666%;
            position: relative;
            z-index: 3;
            margin-left: 0px;
            padding-top: 0px;
        }
.introsl {
-webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: #8e8e8e;        
}



.forestrylogo {
    width: 30%; 
    margin-top: 0px !important;
}

.orn-inverted {
    transform: scaleX(-1);
}

.bf7f7f7 {
    background-color: #f7f7f7 !important;
}

.bfff {
    background-color: #fff
}

.b014029p5 {
    background-color: #014029; 
    padding: 5%; 
    margin: 0%;
}

.b014029 {
background-color: #014029 }

.b014029pt28 {
background-color: #014029;
padding-top: 28px; }

.b014029pt8 {
background-color: #014029;
padding-top: 8%; }

.befeeee {
    background-color: #efeeee;
}

.padd2percent {
    padding: 2%
}

.padleft5pc {
    padding-left: 5%;
}

.padtop2pc {
    padding-top: 5%;
}

.padbot10pc {
    padding-bottom: 10%;
}
.padright3pc {
    padding-right: 3%}

.pt4 {
    padding-top: 4%
}
.pt2 {
    padding-top: 2%
}

.pt1 {
    padding-top: 1%
}

.pb2 {
    padding-bottom: 2%
}

.pb1 {
    padding-bottom: 1%
}

.pr40pc {
    padding-right: 40%;
}

.pl40pc {
    padding-left: 40%
}

.pl35pc {
    padding-left: 35%
}

.slider600 {
    height: 600px;
}

.sawmillogo {
    width: 37%; margin-top: 0px !important; margin-left: 2%; margin-bottom: 4%
}

.mb1px{
    margin-bottom: 1px
}

.mt1percent {
    margin-top: 1%
}

.mb5percent {
    margin-bottom: 5%
}

.mb30px {
margin-bottom: 30px;
}
.htpricing {
    background: linear-gradient(to bottom, #4c4a4a 0%,#014029 17%,#043e07 33%,#014029 67%,#014029 83%,#043e04 100%) !important;
}

.hhunting {
height:  400px;
}

.tdw217 {
    width:217px;
}

.f15 {
    font-size: 15px;
}

.f20 {
    font-size: 20px;
}

.hborder {
    border: 2px solid #014029;
}

.w35pc {
    width: 35%;
}

.tourism1 {
    width: 100%; height: 100%;
}

.tourism2 {
    color: rgba(7, 68, 46, .96);
}

.tourism3 {
    color: rgba(1, 64, 41, .7);
}

.hoteloptions {
    background: linear-gradient(to bottom, #014029 20%,#035638 50%,#025d3c 58%);
}

.wedoptions {

    background: linear-gradient(to bottom, #014029 20%,#035638 50%,#025d3c 58%);
    color: #fff;
    font-size: 26px
}


.mt3pc {
    margin-top: 3%;
}

.contactbtn {
    border-radius: 5px; border: 1px solid gray; margin-bottom: 1%; font-size: 15px;
}

* {
    box-sizing: border-box;
}



.row12 {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
 
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

.historybg {
    background-image: url(../bg1.jpg)
}

