.gal {


    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
}

.gal img {
    width: 100%;
    padding: 7px 0;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 103px -36px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 103px -36px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 103px -36px rgba(0, 0, 0, 1);
}

.gal img:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 113px -36px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 113px -36px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 113px -36px rgba(0, 0, 0, 1);
}


@media (max-width: 500px) {

    .gal {


        -webkit-column-count: 1;
        /* Chrome, Safari, Opera */
        -moz-column-count: 1;
        /* Firefox */
        column-count: 1;



    }

}
