.flip {
    position: relative;
    transition: all 1s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    margin-bottom: 50%;
}

.flip:hover {
    transform: perspective(600px) rotateY(-180deg) translateX(100%);
}

.flip .flip-1,
.flip .flip-2 {
    position: fixed;
    backface-visibility: hidden;
}

.flip .flip-2 {
    transform: rotateY(-180deg);
}

.flip-2 {
    background-color: #2154;
    height: 130px;
    width: 130px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    color: white;
    padding: 1%;
    font-size: 15px;
    left: 26px;
}

.no-flip {
    background-color: #2154;
    height: 130px;
    width: 130px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    color: white;
    padding: 1%;
    font-size: 15px;
    margin: 7%;
}h
