.flip {
    position: relative;
    transition: all 1s ease;
    transform: perspective(600px);
    transform-origin: 100% 50%;
    transform-style: preserve-3d;
    margin-bottom: 50%;
    left: 100px;

}

.flip:hover {
    transform: perspective(600px) rotateY(-180deg) translateX(100%);
}

.flip .flip-1,
.flip .flip-2 {
    position: fixed;
    backface-visibility: hidden;

}

.flip-1 {
    height: 70px;
}

.flip .flip-2 {
    transform: rotateY(-180deg);
}

.flip-2 {
    background-color: #215445;
    height: 100px;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    color: white;

    font-size: 15px;
    left: 100px;

}

.flip-2 p {
    text-align: center;
    padding: 5%;
}

.no-flip {
    background-color: #215445;
    height: 80px;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
    color: white;
    padding: 1%;
    font-size: 15px;
    left: 100px;
    margin-left: 4%;
    padding: 2%;
    text-align: center
}

.movile {
    height: 70px;
    margin-left: 125px;
    padding: 2%;
}


@media only screen and (max-width: 767px) and (min-width: 320px) {

    .content-movile {
        padding-bottom: 20px;
        padding-top: 20px;
    }
}
